@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@font-face {
  font-family: "Unique";
  src: url("Unique-Bold.eot"); /* IE9 Compat Modes */
  src: url("Unique-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Unique-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Unique-Bold.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Unique-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fec31e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  font-size: 1vw;
  font-family: "Inter";
  color: white;
  font-weight: 700;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
}
.page {
  position: relative;
}

.container {
  padding: 0 1.25em;
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}
//-------------------------Preloader---------------------------------------------------------------------------------------------------//

.preloader {
  &-trigger {
    display: none;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99999999;
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding-top: 1.25rem;

  &-container {
    width: 100%;
    height: 100%;
  }

  &-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    max-height: 7.5rem;
    overflow: hidden;
    text-align: end;
    width: 100%;
    padding: 0 1.25rem;
    &_txt {
      font-family: Unique;
      font-size: 8.625rem;
      overflow: hidden;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      span {
        display: block;
      }
    }
  }

  &-bottom {
    width: 100%;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1.25rem;
    padding: 0 1.25rem;
  }

  &-counter {
    font-size: 8rem;
    font-family: Oswald;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;

    span {
      display: block;
    }
  }

  &-egg {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;

    span {
      display: block;
    }
  }

  &-bar {
    &_wrapper {
      width: 100%;
      height: 4rem;
      overflow: hidden;
    }
  }

  &-progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(109deg, #ffda06 32.29%, #ff8106 61.62%);
  }
}

@media (max-width: 480px) {
  .preloader {
    height: 100%;
    &-logo {
      text-align: center;
      max-height: 5.5rem;
      &_txt {
        font-size: 6rem;
      }
    }
    &-counter {
      position: absolute;
      width: 100%;

      span {
        text-align: center;
      }

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-bar {
      &_wrapper {
        height: 2.75rem;
      }
    }
  }
}

//-------------------------Preloader---------------------------------------------------------------------------------------------------//

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(100% + 22px);
  left: 0;
  background-color: #ff8106;
  transition: 0.8s;

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(../img/wave.png);
    animation: animate 0.5s linear infinite;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

.header-item:hover {
  .wave {
    top: 0;
  }
}

.header {
  width: 100%;
  padding-top: 1.25em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;

  &-body {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &-socials {
    display: flex;
    gap: 0.75rem;
  }

  &-social {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0rem;
      height: 0rem;
      border-radius: 50%;
      background-color: #ff8106;
      transform: translate(-50%, -50%);
      transition: 0.2s ease-out;
    }

    &:hover {
      span {
        width: 2.25rem;
        height: 2.25rem;
      }
    }

    &_txt {
      text-transform: uppercase;
      font-size: 0.875rem;
      position: relative;
      z-index: 99999;
    }
  }

  &-list {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &-item {
    text-decoration: none;
    color: white;
    border-radius: 2rem;
    display: inline-flex;
    padding: 10px 24px;
    background-color: black;
    position: relative;
    overflow: hidden;
    &_txt {
      font-size: 0.875rem;
      text-transform: uppercase;
      position: relative;
      z-index: 999999;
    }
  }

  &-made {
    text-align: end;
    &_txt {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 1rem;
    &-list {
      display: none;
    }
  }
}

//-------------------------Hero--------------------------------------------------------------------------------------//
.hero {
  width: 100%;
  position: relative;
  height: 100vh;
  padding-bottom: 1.25em;
  margin-bottom: 12.5rem;
  &-container {
    height: 100%;
  }
  &-body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &-canvas {
    &_wrapper {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
    }
    &_mobile {
      display: none;
    }
  }

  &-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: end;
    position: relative;
  }

  &-left {
  }

  &-tool {
    display: flex;
    align-items: center;
    gap: 6px;
    &_circle {
      width: 1rem;
      height: 1rem;
      border: 1px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_number {
      font-size: 0.75rem;
    }

    &_txt {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  &-centre {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    &_top {
      display: flex;
      gap: 1em;
    }

    &_bottom {
    }
  }

  &-icon {
    &_left {
      width: 7.5rem;
    }

    &_right {
      width: 7.5rem;
    }
  }

  &-title {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &-subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0.8;
  }

  &-right {
    text-align: end;
  }

  &-check {
    &_icon {
      width: 8.375rem;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-centre {
      &_top {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
    &-left {
      display: none;
    }
    &-right {
      display: none;
    }

    &-icon {
      &_right {
        display: none;
      }
    }

    &-subtitle {
      font-size: 14px;
      max-width: 244px;
      text-align: center;
    }

    &-canvas {
      &_wrapper {
        display: none;
      }
      &_mobile {
        display: block;
      }
    }
  }
}

//-------------------------Transform--------------------------------------------------------------------------------------//

.transform {
  width: 100%;
  height: 100vh;
  margin-bottom: 12.5rem;

  &-body {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  &-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-family: "Oswald";
    font-size: 8rem;
    line-height: 106.25%;
    text-transform: uppercase;
    max-width: 53.5rem;
    text-align: center;
    margin-bottom: 2rem;

    &_line {
      overflow: hidden;
    }
    span {
      display: block;
    }
  }

  &-subtitle {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &-spline {
    display: inline-block;
    text-align: center;
    font-family: Unique;
    font-size: 8rem;
    font-style: normal;
    line-height: 84.375%;
    text-transform: uppercase;
    background: linear-gradient(
      120deg,
      #fec31e 4.09%,
      #fe43f1 22.63%,
      #3bf9ca 48.42%,
      #4380ff 62.42%,
      #fe3af3 80.46%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-scroll {
    display: inline-flex;
    padding: 10px 24px;
    border: 2px solid white;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    transform: translateX(-50%);

    &_txt {
      color: #fff;
      text-align: center;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    &_arrow {
      width: 1.125rem;
    }
  }

  &-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    &_mobile {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .transform {
    margin-bottom: 5rem;
    &-title {
      font-size: 3rem;
      line-height: 116.667%;
      max-width: 20rem;
      margin-bottom: 1rem;
    }
    &-subtitle {
      font-size: 1rem;
    }

    &-spline {
      font-size: 5rem;
      line-height: 111.111%;
    }

    &-scroll {
      bottom: 1rem;
      min-width: 13.5rem;
      &_txt {
        font-size: 0.75rem;
        text-align: left;
      }
    }

    &-canvas {
      display: none;
      &_mobile {
        display: block;
      }
    }
  }
}

//-------------------------Bring--------------------------------------------------------------------------------------//

.bring {
  width: 100%;
  height: 100vh;
  margin-bottom: 12.5rem;

  &-container {
    height: 100%;
  }
  &-body {
    width: 100%;
    height: 100%;
    padding-bottom: 1.25em;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    margin-bottom: 2rem;
  }

  &-title {
    color: #fff;
    font-family: Oswald;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;

    span {
      display: block;
    }
  }

  &-description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-icon {
    &_left {
      width: 8.125rem;
    }

    &_right {
      width: 7.3rem;
    }
  }

  &-subtitle {
    display: inline-flex;
    align-items: center;
    padding: 12px 48px;
    gap: 40px;
    border: 2px solid white;
    border-radius: 5rem;
    &_txt {
      color: #fff;
      font-family: Oswald;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    &_icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &-bottom {
  }

  &-list {
    display: flex;
    gap: 1.25rem;
  }

  &-item {
    width: 31.75em;
    height: 31.75em;
    border-radius: 1.25rem;
    position: relative;

    &_label {
      color: #000;
      font-family: Oswald;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      position: absolute;
      bottom: 1.25rem;
      left: 1.25rem;
    }

    &_hover {
      background-color: #00d1ff;
    }

    &_click {
      background-color: #ffe500;
    }

    &_move {
      background-color: #eb00ff;
      cursor: none;
    }
  }

  &-canvas {
    width: 100%;
    height: 100%;

    &_mobile {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .bring {
    margin-bottom: 3rem;
    &-body {
      justify-content: center;
      gap: 2rem;
    }
    &-top {
      gap: 1.5rem;
      margin-bottom: 1rem;
    }
    &-title {
      font-size: 2rem;
      text-align: center;
      max-width: 15rem;
    }

    &-subtitle {
      padding: 12px 24px;
      gap: 1.25rem;
      &_txt {
        font-size: 1rem;
      }
      &_icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &-icon {
      &_left {
        width: 5rem;
      }
      &_right {
        display: none;
      }
    }

    &-description {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      justify-content: center;

      &_icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &-item {
      width: 22.375rem;
      height: 22.375rem;

      &_label {
        font-size: 1.5rem;
      }
      &_hover {
        display: none;
      }

      &_move {
        display: none;
      }
    }

    &-canvas {
      display: none;

      &_mobile {
        display: block;
      }
    }
  }
}

//-------------------------Marque--------------------------------------------------------------------------------------//

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marque {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #feda05 0%, #fe7f05 100%);
  margin-bottom: 12.5rem;

  &-body {
    white-space: nowrap;
  }

  &-content {
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;
    animation: slide 8s linear infinite;
    padding: 0 1.25rem;
  }

  &-txt {
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: 99.375%;
    text-transform: uppercase;
  }

  &-icon {
    width: 118px;
    height: 118px;
  }
}

@media (max-width: 480px) {
  .marque {
    &-content {
      padding: 0 1rem;
      gap: 2rem;
    }
    &-txt {
      font-size: 4rem;
      line-height: 100%;
    }

    &-icon {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

//-------------------------Stand--------------------------------------------------------------------------------------//

.stand {
  width: 100%;
  height: 100vh;
  margin-bottom: 12.5rem;

  &-container {
    height: 100%;
    padding: 5em 1.25em 1.25em 1.25em;
  }

  &-body {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-top {
    max-width: 63rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }

    &_label {
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &-title {
    font-family: Oswald;
    text-align: center;
    font-size: 14rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &_mobile {
      display: none;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
  }

  &-icon {
    &_left {
      width: 62px;
      height: 68px;
    }

    &_right {
      width: 60px;
      height: 58px;
    }
  }

  &-content {
    max-width: 19rem;
  }

  &-subtitle {
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &-label {
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &-description {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

.top-label_1 {
}
.top-label_2 {
  text-align: center;
}
.top-label_3 {
  text-align: end;
}

@media (max-width: 480px) {
  .stand {
    margin-bottom: 5rem;
    &-container {
      padding: 0 1rem 10rem 1rem;
      position: relative;
    }
    &-body {
      position: static;
    }
    &-bottom {
      flex-direction: column;
      align-items: center;
      bottom: 6rem;
    }
    &-content {
      margin-bottom: 1.5rem;
    }

    &-top {
      &_list {
        margin-bottom: 8px;
      }
    }
    &-icon {
      &_left {
        display: none;
      }
      &_right {
        width: 2.875rem;
      }
    }
    &-title {
      font-size: 6.5rem;
      line-height: 107.692%;
    }
    &-subtitle {
      font-size: 2rem;
    }
    &-label {
      font-size: 1rem;
    }
    &-description {
      font-size: 0.875rem;
    }
    &-canvas {
      display: none;

      &_mobile {
        display: block;
      }
    }
  }

  .top-label_1 {
    font-size: 0.75rem;
  }
  .top-label_2 {
    text-align: center;
    font-size: 0.75rem;
  }
  .top-label_3 {
    text-align: end;
    font-size: 0.75rem;
  }
}
//-------------------------Footer--------------------------------------------------------------------------------------//

.footer {
  width: 100%;
  height: 100vh;

  &-container {
    height: 100vh;
    padding-top: 7rem;
  }

  &-body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &_title {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    &_item {
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &-development {
  }

  &-socials {
    text-align: center;
    &_list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }
  }

  &-social {
    width: 2.5rem;
    height: 2.5rem;
    &_txt {
      font-size: 1rem;
    }
  }

  &-objects {
    text-align: end;
  }

  &-bottom {
    text-align: center;
  }

  &-subtitle {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &-title {
    text-align: center;
    font-family: Unique;
    font-size: 40rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;
    height: 541px;
  }

  &-canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &_mobile {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    &-body {
      gap: 5rem;
    }
    &-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }
    &-list {
      text-align: center;
    }

    &-title {
      font-size: 13.25rem;
      height: auto;
    }
    &-subtitle {
      font-size: 1.25rem;
    }

    &-canvas {
      display: none;
      &_mobile {
        display: block;
      }
    }
  }
}
